<!DOCTYPE html>
<html>
  <head>
    <title>Course Catalog</title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Course Catalog</a>
      </div>
      <ul class="nav navbar-nav">
      </ul>
      <p class="navbar-text navbar-right">
        <% if current_user %>
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Signed in as <%= current_user.name %> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a><%= link_to "Log out", logout_path , class: 'btn-default'%></a></li>
              <li><a><%= link_to "Profile", current_user , class: 'btn-default'%></a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
        <% end %>
      </p>
      <p class="navbar-text pull-right"></p>
    </div>
  </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
